html {
    height: 100%;
    font-size: 1rem;
  }
  
body {
    font-family: 'Dosis', sans-serif;
}

header {
  padding-left: 2%;
  padding-top: 2%;
}

#key-points{
  padding-left: 2%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main {
  padding-left: 2%;
}

#instruction{
  padding: 2% 2%;
}


.col-md-auto{
  padding-left: 2%;
  width: 100%;
}

label{
  width: 100px;
  display: inline-block; 
  vertical-align: top;
}

form{
  padding-left: 2%;
}

.button-div{
  padding: 1% 1%;
}

#add-row{
  width: 12rem;
}

#sum-row{
  text-decoration: underline;
}

#delete-data{
  width: 12rem;
}

footer {
  padding-left: 2%;
  padding-top: 5%;
  padding-bottom: 1%;
}